<div class="col h-100 p-0" style="background-color: #031b4d; -ms-flex: 0 0 200px; flex: 0 0 200px">
  <!-- Really useful bootstrap flexbox for centering something -->
  <!-- Logo and name -->
  <div class="d-flex flex-row justify-content-center align-items-center" style="height: 60px">
    <a class="navbar-brand text-light" href="/">Breezy</a>
  </div>

  <div class="pt-4">
    <ul class="nav flex-column">
      <li class="nav-item" style="background-color: #010f2c">
        <a class="nav-link text-light py-3 px-4" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light py-3 px-4" href="/drafts">Drafts</a>
      </li>
      <li class="nav-item side-nav-item">
        <a class="nav-link text-light py-3 px-4" href="/posts">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link py-3 px-4 disabled" href="#">Config</a>
      </li>
      <li class="nav-item">
        <a class="nav-link py-3 px-4 disabled" href="#">Team Management</a>
      </li>
    </ul>
  </div>
</div>