<% layout('app/layout') -%>

<h1>Dashboard</h1>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      Your code snippet
    </h5>
    <p class="card-text">
      ok cool
    </p>
  </div>
</div>
  
<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      Analytics
    </h5>
    <p class="card-text">
      cooler
    </p>
  </div>
</div>