<% layout('app/layout') -%>

<h1>Your posts</h1>

<div class="list-group" id="app"></div>
<% for (var i=0; i < posts.length; i++) { %>
  <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= posts[i].draftTitle %></h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1 text-truncate"><%= posts[i].draftBody %></p>
      <small>Donec id elit non mi porta.</small>
    </div>
<% } %>
</div>
